<!-- Боковое меню -->
<div class="sidebar">
    <div class="menu-items">
        <h4 class="mb-4">Меню</h4>
        <a href="{% url 'home' %}" class="menu-item {% if request.path == '/' %}active{% endif %}">
            <i class="bi bi-house-fill"></i> Главная
        </a>
        <a href="/catalog/" class="menu-item {% if request.path == '/catalog/' %}active{% endif %}">
            <i class="bi bi-speedometer2"></i> Каталог
        </a>
        <a href="{% url 'blog:list' %}" class="menu-item {% if request.path == '/blogs/' %}active{% endif %}">
            <i class="bi bi-journal-text"></i> Блог
        </a>
        <a href="{% url 'add_product' %}" class="menu-item {% if request.path == '/product/add/' %}active{% endif %}">
            <i class="bi bi-plus-circle"></i> Добавить товар
        </a>
        <a href="{% url 'contacts' %}" class="menu-item {% if request.path == '/contacts/' %}active{% endif %}">
            <i class="bi bi-person-fill"></i> Контакты
        </a>
    </div>
</div>